#a1 {
    width: 80%;
    height: 70px;
    padding-left: 23px;
    padding-top: 20px;
    z-index: 1;
}
#top{
    /* background: linear-gradient(to right,#6495ED,mistyrose);
           -webkit-background-clip: text;
           color: transparent; */
    color: #6495DD;
}
#a2{width: 18%;height: 70px;float: left;margin-bottom: 10px;padding-top: 20px;
    margin-top: 5px;box-shadow: 0 0 1500px 0 #DDDDDD;z-index: 1;}
#aa1{width: 35%;height: 45px;float: left;margin-right: 10px;
    border-radius: 5px 5px 5px 5px;box-shadow: 0 0 20px 0 #DCDCDC;}
#aa2 a,#aa1 a{font-size: larger;width: 100%;height: 42px;color: #6495DD;line-height: 42px;
    text-decoration: none;}
#aa1 a:hover{color: #BD0A01;}
#aa2 a:hover{color: #BD0A01;}
#tab1{float: left;width: 210px;height: 580px;text-align: left;margin-top: 0;border: 1px solid #505050;background:#505050;margin-left: 5px;box-shadow: 0 0 30px 0 #505050;}
#tab2{float: left;width: 100%;height: 170px;text-align: center;border-bottom: 1px solid #000000;color: #DDDDDD;}
#t2{height: 150px;width: 100%;}
#t2 tr th{height: 30px;font-size: x-large;}
img{border:0;}
#img1{margin-top: 5px;border-radius: 49%;width: 60px;height: 60px;vertical-align: bottom;}
#img2{margin-top: -3px;padding: 0;}
ul,li{list-style-type:none;}
.treebox{ width: 100%; margin: 0 auto; background-color: #505050;}
.menu{ overflow: hidden; border-color: #ddd; border-style: solid ; border-width: 0 1px 1px ; }
/*第一层*/
.menu li.level1>a{
    display:block;
    height: 47px;
    line-height: 47px;
    color: white;
    padding-left: 50px;
    border-bottom: 1px solid #000;
    font-size: 15px;
    position: relative;
    transition:all 0.4s linear 0s;
}
.menu li.level1 a:hover{ text-decoration: none;background-color: #1099cc;/* border: 2px solid #000000; */}
.menu li.level1 a.current{background-color: #505050;}

/*============修饰图标*/
.ico{ width: 20px; height: 20px; display:block;   position: absolute; left: 20px; top: 13px; background-repeat: no-repeat; }

/*============小箭头*/
.level1 i{ width: 20px; height: 10px; background-image:url(../img/arrow.png); background-repeat: no-repeat; display: block; position: absolute; right: 20px; top: 20px; }
.level1 i.down{ background-position: 0 -10px; }

.ico1{ background-position: 0 0; }
.ico2{ background-position: 0 -20px; }
.ico3{ background-position: 0 -40px; }

/*第二层*/
.menu li ul{ overflow: hidden; }
.menu li ul.level2{ display: none;background-color: #505050; }
.menu li ul.level2 li a{
    display: block;
    height: 45px;
    line-height: 45px;
    color: white;
    text-indent: 60px;
    /*border-bottom: 1px solid #ddd; */
    font-size: 17px;
    transition:all 0.4s linear 0s;
}
#main_>iframe{width:100%;height:520px;border:0;z-index: 0;}
nav.navbar{margin: 0;}
nav.navbar .dropdown-menu {
    display: none;
    margin: 0;
    border-radius: 0;
    border: none;
    padding-bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s linear;
}
nav.navbar .dropdown-menu.show {
    display: block;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
p.copyright{text-align: center;font-size: small;color: #505050;}